.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: #282c34;
  color: #61dafb;
  text-align: center;
}

img {
  width: 100%;
}

#main-container {
  height: 450px;
}

#winner-stat-row {
  height: 50px;
}

.stat-row {
  height: 25px;
}

.stat-row-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50;
  bottom: 50;
  text-align: center;
  color: white;
}

.stat-bar {
  transition: width 2s;
}
